body{
    margin: 0;
    border: 0;
    background-color:#FDF6F5;
} 

html{
    margin: 0;
    border: 0;
}

/* Main headline HMB Flower */

.Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(240, 184, 194);
    padding: 20px;
    box-shadow: 30px 30px 30px rgb(209, 175, 180);

}

/* Navbar */

.navlist{
    display: flex;
    gap: 20px;
    list-style-type: none;
    font-size: large;
}

.logo{
    display: flex;
    gap: 10px;

}

.navlist li a{
    text-decoration: none;
}

.navlist li a:hover{
    transition: 2s;
    color: beige;
}

.navlist li a{
            text-decoration: none;
            background-color: rgba(20, 16, 16, 0.568) ;
            color: black;
            border-radius: 5px;
        }


/* Responsive for the navbar */

@media screen and (max-width:768px) {


        .navlist li{
            padding: 10px;
            font-size: 30px;
        }

        .navlist{
            display: block;
            gap: 5px;
            flex-direction: column;
            align-content: center;
            text-decoration: none;
            padding:5px;
            font-size: medium;
        }   
        .Header{
            text-align: left;
            
        }
        .name{
            text-align: left;  
            padding: 10px;
            font-family: 'Times New Roman', Times, serif;  
        }
        .navbar{
            display: block;
            padding: 20px;
            font-size: large;
            font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
        .navlist li a{
            text-decoration: none;
            background-color: rgba(20, 16, 16, 0.568) ;
            color: black;
            border-radius: 5px;
        }
        
        .navlist li a:hover{
            transition: 5s;
            color: beige;
        }
        .logo{
            padding: 10px; 
        }

        .name h1{
            font-family: 'Times New Roman', Times, serif;
            font-size: 40px;  

        }
        
        body{
            background-color: #E6E6FA;
        }
}

                        /* Introduction */

.intro{
    background-image:url(https://wallpaperaccess.com/full/2982744.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
    height: 90vh;
    padding: 0;
    margin-top: 10px;
}
.b1{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100px;
    left: 100px;
    padding-top: 200px;
    align-items: left;
    width: 20%;
}

.b1 h1{
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}

.shop{
    border-radius: 7%;
    width:90px;
    height: 25px;
    padding: 2px;
    color: white;
    background-color: rgb(36, 35, 35);
}

@media screen and (max-width:768px) {
    .intro{
        background-image: url(tulip\ 2.jpg);
        background-position:center;
        background-repeat: no-repeat;
        background-size:cover;
        width: 100%;
        height: 90vh;
        padding: 0;
        margin-top: 10px;
    }
    .b1{
        padding-left: 10px;
        position: absolute;
        top: 200px;
        
    }
    .intro p{
        font-size: small;
    }
    
    .b1 h1{
        font-size: 50px;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
}

/* About US */

.about{
    width: 100%;
    text-align: center;
    position: relative;
    height: auto;
    margin: 0;
    background-color:#FDF6F5;

}
.about h1, .review h1{
    background-color:rgba(255, 51, 153, .05);
    color: rgb(243, 75, 103);
    font-size: 35px;
    width: 65%;
    position: absolute;
    left: 260px; 
    right: 400px;   
    padding: 10px;
    margin-right: 900px;
}

.container{
    display: grid;
    padding-top: 100px;
    padding-left: 250px;
    padding-right: 100px;
    grid-template-columns: repeat(2,500px);
    gap: 15px;
    background-color:#FFF5F7;
    margin-bottom: 10px;
}

.video-container{
    background-color:whitesmoke;
    height: auto;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 15px 15px 15px rgba(78, 77, 77, 0.886);
}
 
.choose{
    display: grid;
    box-shadow: 15px 15px 15px rgba(78, 77, 77, 0.886);
    height: auto; 
    background-color:whitesmoke;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

blockquote{
    text-align: left;
    font-size: medium;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.learn{
    border-radius: 45px;
    border: 1px solid;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    align-content: center;
    width: 25%;
    margin: 0 auto;
    padding: 10px;
    height: auto;
    margin-bottom: 30px;
    background-color: grey;
    color: black;
}

.learn:hover{
    transition: 2s;
    color: white;
}

    @media screen and (max-width:768px) {
        
        .about h1{
            margin-right: 500px;
            background-color: #D8B7DD;
            color: purple;
            
        }

        .about{
            align-content:center;
            margin-right: 20%;
            width: 50%;
            background-color: #E6E6FA;

        }

        .container{
            grid-template-columns: repeat(1,600px);
            padding-left: 90px;
            gap: 30px;
            background-color: #E6E6FA;

        }

        .video-container{
            flex-direction: column;
        }


    }

/* Icon */

.icon{
    display: flex;
    flex-direction: row;
    height: auto;
    padding: 20px;
    margin-top: 50px;
    background-color:rgba(200, 199, 199, 0.651) ;
    position: relative;
}
.icon-container{
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    gap: 50px;
    margin-left: 300px;
    margin-right: 200px;
}

.shipping:hover,.return:hover,.gift:hover,.payment:hover{
    transition: 2s;
    background-color: rgba(150, 149, 149, 0.68);
    color: black;
}
.shipping,.return,.gift,.payment{
    background-color:rgba(229, 227, 227, 0.976);
    padding: 20px; 
    display: flex;
    flex-direction: row;
    width: 200px;
    height:100px;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    gap: 15px;
}
.title{
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
.title h2{
    margin: 0;
    padding: 0;
    font-size:medium;
}

.title span{
    margin-top: 5px;
    padding: 0;
    text-align: center;
    font-size: 14px;
}

.return{
    background-color:rgba(229, 227, 227, 0.976);
    padding: 20px;
}

.gift{
    background-color:rgba(229, 227, 227, 0.976);
    padding: 20px; 
}

.payment{
    background-color:rgba(229, 227, 227, 0.976);
    padding: 20px; 
}

    @media screen and (max-width:768px){
        
        .icon{
            flex-direction: column;
            gap: 10px;
            margin-top: 70px;
            padding: 0;
            width: 100%;
            align-content: center;
        }

        .icon-container{
            position:relative;
            right: 50px;
            margin-top: 25px;
            margin-bottom: 25px;
            flex-direction: column;
            width: 100%; 
            padding: 0;   
            align-content: center;

        }
        .shipping,.return,.gift,.payment{
            width: 500px;
            margin: 0px;
            position:relative;
            right: 100px;
            align-content: center;
            text-align: center;
            padding: 50px;
            gap: 25px;
            height: 100px;
        }

        .title h2{
            font-size: 20px;
            text-align: center;
        }
        
        .title span{
            font-size: 25px;
            text-align: center;

        }

        .fa-truck-fast,.fa-sack-dollar,.fa-gift,.fa-credit-card{
            padding-right: 30px;
            color: purple;
            padding: 20px;
            font-size:50px;
        }


    }

/* latest product */

.item h1{
    background-color:rgba(255, 51, 153, .05);
    color: rgb(243, 75, 103);
    font-size: 35px;
    width: 80%;
    position: absolute;
    left: 140px; 
    right: 400px;   
    padding: 10px;
    margin-right: 900px;
    text-align: center;
}

/* Grid for products */

.grid{
    padding: 50px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin: 90px;
    display: grid;
    grid-template-columns: repeat(3,400px);
    grid-template-rows: repeat(3,380px);
    gap: 20px;
    align-content: space-between;
    /* background-color: red; */
}

.i1,.i2,.i3,.i4,.i5,.i6,.i7,.i8,.i9 {
    background-color:rgb(242, 240, 240);
    box-shadow: 15px rgb(122, 122, 122);

}

.i1 img,.i2 img,.i3 img,.i4 img,.i5 img,.i6 img,.i7 img,.i8 img,.i9 img{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 400px;
    height: 300px;
    box-sizing: content-box;
}

.grid span{
    font-size: x-large;
    color: rgb(76, 76, 76);
    padding: 25px;
    text-align: center;
    align-content: center;
}

.grid p{
    font-size: 20px;
    /* padding: 1px; */
    margin: 10px;
    text-align: center;
    color:palevioletred;
}

        @media screen and (max-width:768px){
            

            .item h1{
            position: absolute;
            left: 25px;
            width: 90%;
            background-color: #D8B7DD;
            color: purple;
            padding: 15px;
            font-size:50px;
        }

            .item{
            margin-top: 10px;
            margin-bottom: 100px;
            /* position: ; */
            padding-bottom: 5px;

            }

            .grid{
                grid-template-columns: repeat(1,400px);
                grid-template-rows:420px 420px;
                margin-left: 120px;
                gap: 30px;
            }

            .i1,.i2,.i3,.i4,.i5,.i6,.i7,.i8,.i9{
                width: 450px;
                height: auto;
                background-color: white;
                

            }

            .i1 img,.i2 img,.i3 img,.i4 img,.i5 img,.i6 img,.i7 img,.i8 img,.i9 img{
                margin: 0;
                width: 450px;
                height: 350px;
            }

            .i1 span, .i2 span, .i1 p, .i2 p,.i3 span, .i4 span, .i3 p, .i4 p,.i5 span, .i6 span, .i5 p, .i6 p,.i7 span, .i8 span, .i7 p, .i8 p,.i9 span,.i9 p {
                margin-top: 10px;
                margin-bottom: 10px;
                position: static;
            }

}

/* Review */

.review h1{
    text-align: center;
    margin: 0;
}

.customer_review{
    padding: 50px;
    /* background-color: red; */
    position: relative;
    margin: 100px;
    top: 50px;
    display: grid;
    grid-template-columns: repeat(3,400px);
    grid-template-rows: repeat(1,320px);
    gap: 20px;
    align-content: space-between;
}


.fa-star{
    padding-left: 10px;
    padding-top: 25px;
    color: rgb(248, 104, 128);
}

.customer_review p{
    padding: 20px;
    /* text-align: center; */
}

.d1,.d2,.d3{
    background-color:whitesmoke ;
    
    box-shadow: 15px 15px 30px rgba(78, 77, 77, 0.886);



}

.customer_pfp {
    margin: 5px;
    display: flex;
    flex-direction: row;
    padding: 5px;
}


.customer_pfp img{
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    position: relative;
    top: 0px;
    border-bottom: 10px;
}

.image_container{
    display: flex;
    flex-direction: row;
    padding: 30px;
}

.name span{
    /* padding: 100px; */
    position: relative;
    top: 30px;
    left: 25px;
    font-size: large;
}

 @media screen and (max-width: 767px) {
  .customer_review {
    grid-template-columns: repeat(1,400px);
    grid-template-rows: repeat(200px 200px);
    padding: 20px;
    gap: 100px;
    width: 300px;
  }
}

/* Contact Form */

.contact h1{
    background-color:rgba(255, 51, 153, .05);
    color: rgb(243, 75, 103);
    font-size: 35px;
    text-align: center;
    width: 75%;
    position: relative;
    left: 150px;
}

.form_container{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-content: center;
    margin: 0 auto;
    width: 60%;
    text-align: center;
    
}


.form_container form{
    background-color:whitesmoke;
    box-shadow: 15px 15px 15px rgba(153, 153, 153, 0.753);
    padding: 20px;
    width: 400px;
    height: 400px;
}

.form_container img{
    /* background-color: blue; */
    width: 300px;
    height: 100px;
}

input:focus,textarea:focus{
    outline: none;
}

input{
    width: 350px;
    padding: 10px;
}

textarea{
    width: 350px;
    height: 80px;
    padding: 10px;
}

input[type="submit"]{
    width: 150px;
    cursor: pointer;
    border-radius: 50px;
    color: white;
    background-color: gray;
    position: relative;
    right: 110px;
    padding: 5px;
    font-size: medium;
}

    @media screen and (max-width:768px){
        
        .form_container{
            flex-direction: column;
        }

        .form{
            position: relative;
            top:460px;
            width: 350px;
            left: 25px;
        }

        .img{
            position: relative;
            bottom: 460px;
            margin: 0 auto;
        }

        .contact h1{
            position: relative;
            left: 100px; 
            background-color: #D8B7DD;
            color: purple;
            padding: 20px;
            font-size:50px;
        }
    }

.img img{
    width: 100%;
    height:440px;
    margin-left: 10px;
    box-sizing: border-box;

}

/* Footer */

.footer{
    display: flex;
    flex-direction: row;
    gap: 250px;
    padding: 10px 100px 10px 100px;
    background-color: rgb(245, 143, 177);
    margin-top: 100px;
}

.quick,.extra,.location,.contact_info{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.quick span a{
    outline: none;
    text-decoration: none;
    color: rgb(97, 97, 97);
    padding: 20px;
}

.extra span,.location span,.contact_info span{
    color: rgb(97, 97, 97);

}

.card{
    flex-direction: row;
}

    
    @media screen and (max-width:768px){
        
        .footer{
            flex-direction: column;
            gap: 10px;
            justify-content: center;
            text-align: center;
        }

        .quick h2,.extra h2,.location h2,.contact_info h2{
            font-size: 50px;
        }

        .quick span,.extra span,.location span,.contact_info span{
            font-size: 25px;
        }

        .fa-cc-paypal,.fa-cc-visa,.fa-cc-discover{
            font-size: 25px;
            color: purple;
        }
    }